.job-log {
  font-family: $monospace-font;
  padding: $gl-padding-8 $input-horizontal-padding;
  margin: 0 0 $gl-padding-8;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  color: $gl-text-color-inverted;
  border-radius: $border-radius-small;
  min-height: 42px;
  background-color: $builds-trace-bg;
  white-space: pre-wrap;
}

.log-line {
  padding: 1px $gl-padding-8 1px $job-log-line-padding;
  min-height: $gl-line-height-20;
}

.line-number {
  color: $gl-gray-500;
  padding: 0 $gl-padding-8;
  min-width: $job-line-number-width;
  margin-left: -$job-line-number-margin;
  padding-right: 1em;

  &:hover,
  &:active,
  &:visited {
    text-decoration: underline;
    color: $gl-gray-500;
  }
}

.collapsible-line {
  &:hover {
    background-color: rgba($white-light, 0.2);
  }

  .arrow {
    margin-left: -$job-arrow-margin;
  }
}

.log-duration-badge {
  background: $gl-gray-400;
}

.loader-animation {
  @include build-loader-animation;
}
